<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{my_profile :: meta}"></th:block>
    <title>Альбом</title>
    <th:block th:replace="~{my_profile :: style}"></th:block>
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<script>

    let currentUrl = window.location.href,
        id = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);

    fetch(`http://localhost:8765/albums/${id}`, requestOptions)
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
            let body = document.querySelector('body'),
                h1 = document.createElement('h1');
            h1.textContent = `Альбом ${data.name}`;
            body.appendChild(h1);
            let key,
                a,
                img,
                host = window.location.host;
            const photos = data.photos;
            for (key in photos) {
                a = document.createElement('a');
                a.href = `http://${host}/photo/${photos[key].id}`;
                img = document.createElement('img');

                fetch(`http://localhost:8765/albums/photo_entity/${photos[key].id}`, requestOptions)
                    .then(response => {
                        if (response.ok)
                            return response.blob();
                        throw new Error('Network response was not ok.');
                    })
                    .then(blob => {
                        img.src = URL.createObjectURL(blob);
                    })
                    .catch(error => {
                        console.error(error);
                    });

                a.appendChild(img);
                body.appendChild(a);
            }
        })
        .catch(error => {
            console.error('Произошла ошибка', error);
        });

</script>

</body>
</html>