<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{my_profile :: meta}"></th:block>
    <title>Мои альбомы</title>
    <th:block th:replace="~{my_profile :: style}"></th:block>
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1>Мои альбомы</h1>

<a th:href="@{/find_albums}">Найти альбомы</a>
<br>
<a th:href="@{/find_photos}">Найти фотографии</a>

<p>Создать альбом</p>

<form enctype="multipart/form-data" id="addAlbum">
    <label for="name">Название альбома</label>
    <input type="text" id="name" name="name" placeholder="Название альбома" required>
    <br><br>
    <label for="files">Фотографии</label>
    <input type="file" id="files" name="files" accept="image/*" multiple>
    <br><br>
    <button>Создать альбом</button>
</form>

<script>

    fetch(`http://localhost:8765/albums/albums/[[${user.login}]]`, requestOptions)
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
            let body = document.querySelector('body'),
                h1 = document.createElement('h1');

            if (Object.keys(data).length === 0) {
                h1.textContent = `Вы ещё не добавили альбомы`;
                body.appendChild(h1);
            } else {
                let key,
                    p,
                    a,
                    host = window.location.host;
                for (key in data) {
                    p = document.createElement('p');
                    a = document.createElement('a');
                    a.href = `http://${host}/album/${data[key].id}`;
                    a.textContent = `${data[key].name}`;
                    p.appendChild(a);
                    body.appendChild(p);
                }
            }

        })
        .catch(error => {
            console.error('Произошла ошибка', error);
        });

    const form = document.getElementById('addAlbum');

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        const name = document.getElementById('name').value;
        const files = document.getElementById('files').files;

        const data = {
            name: name,
            files: files,
        }

        console.log(data);

        fetch('http://localhost:8765/albums/add_album', {
            headers: {
                'Authorization': `[[${token}]]`
            },
            method: 'POST',
            body: data,
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                //console.log(data);
            })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            });
    });

</script>

</body>
</html>