<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{my_profile :: meta}"></th:block>
    <title>Мои альбомы</title>
    <th:block th:replace="~{my_profile :: style}"></th:block>
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1>Мои альбомы</h1>

<a th:href="@{/find_albums}">Найти альбомы</a>
<br>
<a th:href="@{/find_photos}">Найти фотографии</a>

<p>Создать альбом</p>

<form enctype="multipart/form-data" id="addAlbum">
    <label for="name">Название альбома</label>
    <input type="text" id="name" name="name" placeholder="Название альбома" required>
    <br><br>
    <label for="files">Фотографии</label>
    <input type="file" id="files" name="files" accept="image/*" multiple>
    <br><br>
    <button>Создать альбом</button>
</form>

<script>
    const form = document.getElementById('addAlbum');

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        const name = document.getElementById('name').value;
        const files = document.getElementById('files').files;

        const data = {
            name: name,
            files: files,
        }

        console.log(data);

        fetch('http://localhost:8765/albums/add_album', {
            method: 'POST',
            body: data,
        })
            /*.then(response => {
                if (response.ok) {
                    console.log('Данные успешно отправлены на сервер');
                } else {
                    console.error('Произошла ошибка при отправке данных');
                }
            })*/
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            });
    });
</script>

<p>Мои альбомы</p>

</body>
</html>