<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{my_profile :: meta}"></th:block>
    <title>Фотография</title>
    <th:block th:replace="~{my_profile :: style}"></th:block>
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<th:block th:if="${user.login} == ${photo.album.userLogin}">
    <button id="deletePhoto" style="display: block; margin-bottom: inherit">удалить фотографию</button>
</th:block>

<img id="photo">

<p th:text="|Фотография добавлена: ${photo.creationTimeStamp}|"></p>

<span>Теги: </span>
<th:block th:if="${user.login} == ${photo.album.userLogin}">
    <form class="deletePhotoTag" th:each="tag : ${photo.tags}" th:id="|tag${tag.id}|" style="display: inline; border: 0">
        <input type="hidden" th:value="${tag.id}">
        <span th:text="${tag.tag}"></span>
        <button>x</button>
    </form>
</th:block>
<th:block th:if="${user.login} != ${photo.album.userLogin}" th:each="tag, iterStat : ${photo.tags}">
    <span th:text="${tag.tag}"></span><span th:if="${!iterStat.last}">, </span>
</th:block>

<th:block th:if="${user.login} == ${photo.album.userLogin}">
    <br>
    <br>
    <form>
        <label for="tag">Добавить тег</label>
        <input type="text" id="tag" name="tag" required>
        <button>добавить</button>
    </form>
</th:block>

<th:block th:switch="${photo.rating}">
    <p th:case="null">Фотография еще не оценивалась</p>
    <p th:case="*" id="rating" th:text="'Рейтинг фотографии: ' + ${photo.rating} + ' %'"></p>
</th:block>

<th:block th:switch="${photo.userRating}">
    <th:block th:case="null">
        <div th:id="ratings">
            <button class="createRating" id="plus">+</button>
            <button class="createRating" id="minus">-</button>
        </div>
    </th:block>
    <th:block th:case="*">
        <th:block th:switch="${photo.userRating.rating}">
            <th:block th:case="false">
                <div th:id="ratings">
                    <button th:id="updateRating">+</button>
                    <button th:id="deleteRating" style="background: red">-</button>
                    <input type="hidden" th:value="${photo.userRating.id}">
                </div>
            </th:block>
            <th:block th:case="true">
                <div th:id="ratings">
                    <button th:id="deleteRating" style="background: green">+</button>
                    <button th:id="updateRating">-</button>
                    <input type="hidden" th:value="${photo.userRating.id}">
                </div>
            </th:block>
        </th:block>
    </th:block>
</th:block>

<br>
<br>

<form>
    <label for="comment">Добавить комментарий</label>
    <br>
    <textarea id="comment" required></textarea>
    <button>добавить</button>
</form>

<div th:each="comment : ${photo.comments}">
    <p th:text="${comment.comment}"></p>
    <p th:text="${comment.commentingUserLogin}"></p>
    <p th:text="${comment.commentingTimeStamp}"></p>
    <th:block th:if="${user.login} == ${photo.album.userLogin} or ${user.login} == ${comment.commentingUserLogin}">
        <form>
            <input type="hidden" name="id" th:value="${comment.id}">
            <input type="hidden" name="photoId" th:value="${comment.photoId}">
            <button>удалить</button>
        </form>
    </th:block>
</div>

<script>

    const img = document.getElementById('photo');

    fetch(`http://localhost:8765/albums/photo_entity/[[${photo.id}]]`, requestOptions)
            .then(response => {
                if (response.ok)
                    return response.blob();
                throw new Error('Network response was not ok.');
            })
            .then(blob => {
                img.src = URL.createObjectURL(blob);
            })
            .catch(error => {
                console.error(error);
            });

</script>

<script>

    const deletePhotoButton = document.getElementById('deletePhoto');

    deletePhotoButton.addEventListener('click', function () {

        fetch(`http://localhost:8765/albums/delete_photo?id=[[${photo.id}]]&login=[[${user.login}]]`, {
            headers: {
                'Authorization': `[[${token}]]`,
            },
            method: 'DELETE',
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = `http://${window.location.host}/my_albums`;
                    return;
                }
                throw new Error('Network response was not ok.');
            })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            });

    });

</script>

<script>

    const deletePhotoTagForms = document.querySelectorAll('.deletePhotoTag');

    if (deletePhotoTagForms.length !== 0)
        deletePhotoTagForms.forEach(form => {
            form.addEventListener('submit', function (event) {

                event.preventDefault();

                const id = form.children.item(0).value;

                fetch(`http://localhost:8765/albums/delete_photo_tag?id=${id}&login=[[${user.login}]]`, {
                    headers: {
                        'Authorization': `[[${token}]]`,
                    },
                    method: 'DELETE',
                })
                    .then(response => {
                        if (response.ok)
                            return response.json();
                        throw new Error('Network response was not ok.');
                    })
                    .then(data => {
                        document.getElementById(`tag${data}`).remove();
                    })
                    .catch(error => {
                        console.error('Произошла ошибка:', error);
                    });
            });
        });

</script>

<script>

    const createRatingButtons = document.querySelectorAll('.createRating');

    if (createRatingButtons.length !== 0)

        createRatingButtons.forEach(button => {

            button.addEventListener('click', function () {

                const ratingValue = button.textContent;
                let rating = null;

                if (ratingValue === '+')
                    rating = true;
                if (ratingValue === '-')
                    rating = false;

                const photoRating = {
                    rating: rating,
                    ratingUserLogin: `[[${user.login}]]`,
                    photoId: [[${photo.id}]],
                };

                rating = document.getElementById('rating');

                fetch(`http://localhost:8765/albums/add_photo_rating`, {
                    headers: {
                        'Authorization': `[[${token}]]`,
                        'Content-type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify(photoRating),
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Network response was not ok.');
                    })
                    .then(data => {
                        rating.textContent = `Рейтинг фотографии: ${data.rating} %`;
                        if (ratingValue === '-')
                            document.getElementById('ratings').innerHTML = `
                                <button id="update">+</button>
                                <button id="deleteRating" style="background: red">-</button>
                                <input type="hidden" value="${data.id}">
                                `;
                        if (ratingValue === '+')
                            document.getElementById('ratings').innerHTML = `
                                <button id="deleteRating" style="background: green">+</button>
                                <button id="update">-</button>
                                <input type="hidden" value="${data.id}">
                                `;
                    })
                    .catch(error => {
                        console.error('Произошла ошибка: ', error);
                    });

            });

        });

</script>

<script>

    const updateRatingButton = document.getElementById('updateRating');

    if (updateRatingButton !== null)

        updateRatingButton.addEventListener('click', function () {

                const ratingValue = updateRatingButton.textContent;
                let rating = null;

                if (ratingValue === '+')
                    rating = true;
                if (ratingValue === '-')
                    rating = false;

                const id = document.getElementById('ratings').children.item(2).value;

                const photoRating = {
                        id: id,
                        rating: rating,
                    };

                fetch(`http://localhost:8765/albums/update_photo_rating?login=[[${user.login}]]`, {
                    headers: {
                        'Authorization': `[[${token}]]`,
                        'Content-type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify(photoRating),
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Network response was not ok.');
                    })
                    .then(data => {
                        document.getElementById('rating').textContent = `Рейтинг фотографии: ${data} %`;
                        if (ratingValue === '-')
                            document.getElementById('ratings').innerHTML = `
                                <button th:id="updateRating">+</button>
                                <button th:id="deleteRating" style="background: red">-</button>
                                <input type="hidden" th:value="${id}">
                                `;
                        if (ratingValue === '+')
                            document.getElementById('ratings').innerHTML = `
                                <button th:id="deleteRating" style="background: green">+</button>
                                <button th:id="updateRating">-</button>
                                <input type="hidden" th:value="${id}">
                                `;
                    })
                    .catch(error => {
                        console.error('Произошла ошибка: ', error);
                    });

            });

</script>

<script>

    const deleteRatingButton = document.getElementById('deleteRating');

    if (deleteRatingButton !== null)

        deleteRatingButton.addEventListener('click', function () {

            const id = document.getElementById('ratings').children.item(2).value;

            fetch(`http://localhost:8765/albums/delete_photo_rating?id=${id}&login=[[${user.login}]]`, {
                headers: {
                    'Authorization': `[[${token}]]`,
                    'Content-type': 'application/json'
                },
                method: 'DELETE',
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    if (data >= 0)
                        document.getElementById('rating').textContent = `Рейтинг фотографии: ${data} %`;
                        document.getElementById('ratings').innerHTML = `
                            <button class="createRating" id="plus">+</button>
                            <button class="createRating" id="minus">-</button>
                            `;
                })
                .catch(error => {
                    console.error('Произошла ошибка: ', error);
                });

        });

</script>

</body>
</html>